.menuBar{
    /* padding: 1rem; */
    background: '#fff';
    color: #405840;
    width: 100%;
    margin-bottom: 1rem;
}
.tabs li{
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: #000;
    padding: 1rem;
    width: 30%;
    text-align: center;
    border: 1px solid #405840;
}
.tabs li.active{
    color: initial;
    color: white;
    background-color: #2a321c;
    height: 100%;
}