@font-face {
	font-family: 'ASD-ExtraBold';
	src: url('fonts/AppleSDGothicNeoEB.woff2');
}
@font-face {
	font-family: 'ASD-Bold';
	src: url('fonts/AppleSDGothicNeoB.woff2');
}
@font-face {
	font-family: 'ASD-SemiBold';
	src: url('fonts/AppleSDGothicNeoSB.woff2');
}
@font-face {
	font-family: 'ASD-Medium';
	src: url('fonts/AppleSDGothicNeoM.woff2');
}
@font-face {
	font-family: 'ASD-Regular';
	src: url('fonts/AppleSDGothicNeoR.woff2');
}
@font-face {
	font-family: 'ASD-Light';
	src: url('fonts/AppleSDGothicNeoL.woff2');
}
@font-face {
	font-family: 'ASD-Thin';
	src: url('fonts/AppleSDGothicNeoT.woff2');
}
